* {
    box-sizing: border-box;
}

html {
    font-size: 2vw;
    scroll-behavior: smooth;
}

body {
    background-color: #292525;
    color: #FFF;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('PPHatton-Medium.woff2') format('woff2'),
        url('PPHatton-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueMontreal-Book';
    src: url('PPNeueMontreal-Book.woff2') format('woff2'),
        url('PPNeueMontreal-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Medium.woff2') format('woff2'),
        url('PPNeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.display {
    font-family: "PP Hatton";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 98%; /* 105.84px */
    letter-spacing: -1.296px;
    mix-blend-mode: difference;
}

.large-text {
    font-family: "PP Hatton";
    font-size: 108px;
    font-style: normal;
    font-weight: 500;
    line-height: 98%; /* 105.84px */
    letter-spacing: -1.296px;
    margin-top: 20px;
}

h1 {
    font-family: "PP Hatton";
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 106.667% */
    letter-spacing: -1px;
    text-transform: uppercase;
}

h2 {
    font-family: "PPNeueMontreal-Book";
    font-size: 45px;
    font-style: normal;
    font-weight: normal;
    line-height: 45px; /* 100% */
    letter-spacing: -1px;
    text-transform: uppercase;
}

h3 {
    font-family: "PP Hatton";
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 100% */
    letter-spacing: -1px;
    text-transform: uppercase;
}

h4 {
    font-family: "PPNeueMontreal-Book";
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    line-height: 35px; /* 100% */
    letter-spacing: -1px;
    text-transform: uppercase;
}

h5 {
    font-family: "PPNeueMontreal-book";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
}

p {
    font-family: "PPNeueMontreal-Book";
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.footer {
    color: #ADF950;
    text-align: center;
    font-family: "PP Hatton";
    font-size: 128.497px;
    font-style: normal;
    font-weight: 500;
    line-height: 98%; /* 125.928px */
    text-transform: uppercase;
}

.large-desc {
    text-align: center;
    font-family: "PPNeueMontreal-Book";
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    line-height: 35px; /* 100% */
    letter-spacing: -1px;
    text-transform: uppercase;
    text-decoration: none;
}

.xs-desc {
    font-family: "PPNeueMontreal-book";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
}

.up {
    text-transform: uppercase;
}

.grn {
    color: #ADF950;
}

.blk {
    color: #292525;
}

.wht {
    color: #FFF;
}

.cent {
    align-items: center;
}

.pad-xs-b {
    padding-bottom: 10px;
}

.pad-s-b {
    padding-bottom: 20px;
}

.pad-s-t {
    margin-top: 40px;
}

.pad-m-t {
    margin-top: 70px;
}

.main-wrapper {
    margin: 40px 60px 0 60px;
    cursor: url("../img/hero/main-cur.svg"), pointer;
}

.case-wrapper {
    margin: 0px 140px 0 140px;
}

.navbar {
    width:auto;
    height: 70px;
    padding: 10px 18px 10px 21px;
    border-radius: 400px;
    border: 0.2px solid #FFF;
    background: linear-gradient(0deg, rgba(236, 238, 238, 0.10) 0%, rgba(236, 238, 238, 0.10) 100%), rgba(255, 255, 255, 0.10);
    box-shadow: 0px 0px 115.32px 57.66px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(19.329999923706055px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 20px;
    left: 0;
    margin: 20px 60px 0 60px;
    z-index: 60;
    mix-blend-mode: difference;
}

.logo {
    display: flex;
    height: 24px;
    width: 24px;
    position: relative;
}

.circle-logo {
    background: linear-gradient(149deg, #8AFF48 4.36%, #E1FF89 89.55%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

ul a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

#button {
    color: #FFF;
    text-align: center;
    border-radius: 300px;
    padding: 10px;
    border: 0.4px solid #FFF;
}

#button:hover {
    background-color: #FFF;
    color: #292525;
}

.button-box {
    color: #ADF950;
    background-color: #292525;
    border-radius: 300px;
    border: 0.4px solid #ADF950;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
}

.button-box:hover,
.button-box:hover svg path {
    background-color: #ADF950;
    border: none;
    color: #292525;
    stroke: #292525;   
}

.button-cont {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.hero-sec {
    padding: 100px 0px 140px 0px;
}

.hero-text {
    color: #ADF950;
    text-align: center;
    font-family: "PP Hatton";
    font-size: 8.14rem;
    /*font-size: 232px; */
    font-style: normal;
    font-weight: 500;
    line-height: 96%; /* 222.72px */
    letter-spacing: -3.712px;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
}

.hero-desc {
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr 0.6fr;
    margin-top: 60px;
}

.hero-video {
    position: relative;
    width: 100%;
    padding: 140px 0px;
    z-index: 50;
}

video {
    width: 100%;
    height: auto;
    border-radius: 40px;
}

.over-lay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button {
    width: 160px;
    height: 160px;
}

.play-button img {
    width: 100%;
    height: auto;
    border-radius: 300px;
    stroke-width: 0.4px;
    stroke: #FFF;
    filter: drop-shadow(0px 0px 115.315px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(19.33036994934082px);
}

.video-text {
    position: relative;
}

.video-title {
    display: flex;
    width: 17rem;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    left: 40px;
    bottom: -117.875px;
}

.case-container {
    padding: 140px 0 140px 0;
}

.index-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.index-box a {
    text-decoration: none;
    color: #FFF;
}

.case-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 140px;
}

.card-img img {
    width: 100%;
    border-radius: 40px;
    cursor: url("../img/hero/case-cur.png"), pointer;
}

.card-img img:hover {
    filter: brightness(0.6);
}

.desc-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.about-sec {
    grid-template-columns: 1fr 1fr;
    margin: 140px 0 140px 0;
    display: grid;
    justify-content: space-between;
    /* gap: 240px; */
    align-items: flex-end;
}

.about-grad {
        background: linear-gradient(182deg, #FFF 1.28%, #ADF950 283.19%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 10px;
}

.stamp {
    float: right;
}

.line {
    border-top: 0.4px solid #ADF950;
}

.line:nth-child(4) {
    border-bottom: 0.4px solid #ADF950;
}

footer {
    padding: 140px 60px 40px 60px;
}

.l-button {
    display: flex;
    width: 100%;
    height: 580px;
    /* padding: 0px var(--1440_24px, 24px); */
    justify-content: center;
    align-items: center;
    border-radius: 4000px;
    box-shadow: 4px 4px 83px 0px rgba(150, 255, 91, 0.40);
}

.footer-desc {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer-container {
    display: flex;
    flex-flow: column;
}

.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.footnote {
    text-align: right;
    padding: 20px 0;
}

.hero-visual {
    width: 100%;
    height: 15.48rem;
    /* height: 530px;*/
    border-radius: 40px;
    position: relative;
    background-color: #F9DEF7;
}

.hero-container {
    width: 700px;
    height: auto;
    overflow: hidden;
    position: absolute;
    bottom: -0.6rem;
    left: 50%;
    transform: translateX(-50%) scale(1.06);
    transform-origin: bottom;
}

.hero-container > spline-viewer {
    width: calc(100% + 180px);
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    transform: translateX(-50%);
}

.hero-img img {
    border-radius: 40px;
    width: 100%;
}

.hero-title {
    margin: 70px 140px 70px 140px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.case-detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
}

.tag-box {
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section {
    padding: 140px 0 140px 0;
    display: flex;
    gap: 140px;
    flex-direction: column;
}

.cont-container {
    display: flex;
    flex-direction: column;
}

.cont-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 120px;
}

.case-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 120px;
}

.mob-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 120px;
}

.case-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: left;
}

.case-ul a {
    text-decoration: none;
    color: #FFF;
}

.case-ul a:hover {
    color: #ADF950;
}

.card-ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
}

.hover-cont {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 40px;
    border: 0.4px solid white;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 40px;
    border: 0.4px solid white;
}

.hover-cont:hover .hover {
    opacity: 1;
} 

blockquote {
    margin: 0 auto;
    padding: 0.6em;
    border-left: 4px solid #ADF950;

}


.img-hover3 {
    width:450px;
    height: 623px;
    background-image: url('../img/fm/user-c-com.png');
    background-size: cover;
    transition: background-image 0.5s ease-in-out; 
}

.img-hover3:hover {
    width:450px;
    height: 623px;
    background-image: url('../img/fm/user-c-prob.png');
}

.persona-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 60px;
}

.case-card {
    border: 0.4px solid #FFF;
    background: linear-gradient(0deg, rgba(236, 238, 238, 0.10) 0%, rgba(236, 238, 238, 0.10) 100%), rgba(255, 255, 255, 0.10);
    box-shadow: 0px 0px 115.32px 57.66px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(19.329999923706055px);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.avatar {
    margin-left: 40px;
}

.creator-img img {
    width: 220px;
    height: 220px;
}

.card-detail {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.company-name img {
    height: 30px;
}

.company-logo img {
    width: 90px;
}

.comp-logo img {
    width: 200px;
}

.comp-logo-l img {
    width: 300px;
    padding-bottom: 60px;
}

.mockup-img img {
    width: 200px;
    height: 400px;
}

.case-img img {
    width: 100%;
    border-radius: 20px;
}

.img-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.company-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 40px;
    border: 0.4px solid #FFF;
    background: linear-gradient(0deg, rgba(236, 238, 238, 0.10) 0%, rgba(236, 238, 238, 0.10) 100%), rgba(255, 255, 255, 0.10);
    box-shadow: 0px 0px 115.32px 57.66px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(19.329999923706055px);
}

#mob {
    width: 300px;
    height: 600px;
    border-radius: 50px;
    float: right;
}

.ref-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.ref-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 120px;
}

a.ref-text {
    color: #FFF;
    font-family: "PPNeueMontreal-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
    text-decoration: none;
}

.number {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 3px 4px 4px 4px;
    background-color: #ADF950;
    border-radius: 100%;
    color: #292525;
    margin-right: 10px;
    font-family: "PPNeueMontreal-Book";
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-box {
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width: 900px) {
    .hero-text {
        font-size: 7.53rem;
        /* font-size: 160px; */
    }

    .video-title {
        width: 16rem;
        bottom: -51.875px;
    }

    .play-button {
        width: 120px;
        height: 120px;
    }

    .display {
        font-size: 4.0rem;
    }

    .l-button {
        height: 426px;
    }

    .footer {
        font-size: 4.80rem;
    }

    .hero-title {
        text-align: center;
        margin: 40px;
    }

    .large-text {
        font-size: 5.2rem;
    }

    .case-wrapper {
        margin: 0px 40px;
    }

    .fdb-container {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .user-fdb {
        gap: 20px;
    }

    .user-container {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h4.grn {
        font-size: 1.8rem;
    }

    .persona-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cont-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .comp-logo-l img {
        width: 300px;
        padding-bottom: 0px;
    }

    .mob-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}

@media screen and (max-width: 600px) {
    .navbar {
        margin: 20px 40px 0 40px;
    }

    .main-wrapper {
        margin: 40px 40px 0 40px;
    }

    .hero-title {
        text-align: center;
        margin: 40px 0px 40px 0px;
    }

    .case-wrapper {
        margin: 0;
    }

    .section {
        padding: 60px 0 60px 0;
        gap: 120px;
    }

    .case-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 40px;
    }

    .case-box {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .ref-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .ref-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .ref-box {
        gap: 60px;
    }

    h1.grn {
        font-size: 35px;
    }

    .index-row {
        display: flex;
        flex-direction: column;
        gap: 120px;
    }

    .index-row.pad-s-b {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .l-button {
        height: 260px;
    }

    .footer-desc {
        gap: 8px;
    }

    h4.grn {
        font-size: 1.6rem;
    }

    footer {
        padding: 40px 40px 0 40px;
    } 

    .footer {
        font-size: 4.53rem;
    }

    .footnote {
        text-align: center;
    }

    .cont-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mob-box {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .hero-sec {
        padding: 60px 0px 60px 0px;
    }

    .hero-video {
        padding: 100px 0px;
    }

    .video-title {
        width: 223px;
        bottom: -46.875px;
        left: 20px;
    }

    .video-title.display {
        font-size: 44px;
    }

    .about-sec {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 60px 0 60px 0;
        gap: 120px;
    }

    .stamp-box {
        width: 100%;
    }
    
    .stamp {
        float: none;
    }
}